extends layout.pug

block content
  form(action='/user/signup' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)

    div(class='form-group')
      label(for="name-input")= Name
      input(id="name-input" name="name" type="text" value="" required)

    br

    div(class='form-group')
      label(for="pw-input")= Password
      input(id="pw-input" name="password" type="password" value="")
    
    br

    div(class='')
      button(type='submit' class='btn btn-primary') Sign Up!
      a(href='/' class='btn btn-warning ml-2') Cancel
  div
    p: a(href='/user/login') Already have an account?

